<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App - Graphs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('questions') }}">Questions</a>
        <a href="{{ url_for('graphs') }}">Graphs</a>
    </nav>
    <div class="container">
        <h1>Dashboard Categories</h1>
        <button onclick="location.href='{{ url_for('macroeconomic') }}'">Macroeconomic Indicators</button>
        <button onclick="location.href='{{ url_for('hospitalisation') }}'">Hospitalisation Indicators</button>
        <button onclick="location.href='{{ url_for('other') }}'">Other Interesting Indicators</button>
    </div>
</body>
<footer>
    <img src="{{ url_for('static', filename='footer.png') }}" alt="Footer Logo">
</footer>
</html>
